title_body {
    /* position: fixed; */
    top: 0;
    left: 0;
    background-color: #262626;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20px;
    z-index: 100;
}

.header-container {
    width: 80%;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;

}

.head_logo {
    /* width: 100%; */
    padding-left: 20px;
    /* max-height: 7px; */
    /* align-items: right; */
    /* margin-left: 250px; */
}

.header_left {
    position: relative;
    text-align: right;
    /* width: 30%; */
    /* padding-left: 20px; */
    padding-right: 20px;
}



.split-line {
    border-top: 2px solid black;
    margin-top: 20px;
}

title_title {
    color: #FEFAE0;
    font-weight: 600;
    font-size: 32px;
    margin: 0;
    /* white-space: normal; */
}

.orange {
    color: #F09415;
}

.content {
    display: flex;
    align-items: center;
    width: 60%;
}

.introduction {
    flex-grow: 1;
    border-left: 2px solid black;
    padding-left: 20px;
    /* padding-right: 10%; */
}

.detail {
    background-color: #870401;
    flex-grow: 1;
    display: flex;
    /* width: 20%; */
    /* border: 1px solid black; */
    padding-left: 20px;
    padding-top: 5px;
    text-align: left;
}

title_text {
    color: #D4A373;
    font-size: 16px;
    margin: 0 auto;
    width: 15%;
}

.content_body {
    margin-top: 0;
    left: 0;
    background-color: #F09415;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;
    padding-top: 20px;
    max-width: 1500px;
}

.border {
    border: 2px groove #262626;
}

content_header {
    text-align: center;
    align-items: center;
    padding-left: 15%;
    /* width: 80%; */
}

.report-title {
    text-align: left;
    border-left: solid 2px #262626;
    padding-left: 10px;
    padding-bottom: 10px;
}

report {
    color: #FEFAE0;
    font-size: 18px;
}


.header {
    text-align: left;
    align-items: center;
    padding-left: 15%;
    /* width: 80%; */
}

.white-and-bold {
    color: #fefae0;
    /* font-weight: bold; */
}

.green-and-underline {
    color: cyan;
    text-decoration: underline;
}

content-header-text {
    color: #FEFAE0;
    /* font-size: 22px; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.host-speaker {
    color: #262626;
    font-size: 20px;
    font-weight: bold;
}


content_date {
    color: black;
    font-size: 16px;
}

content_normal_text {
    color: #262626;
    font-size: 20px;
}


content_intro {
    color: #262626;
}

.content-grid {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-gap: 20px;
    /* max-width: 1200px; */
    padding-top: 20px;
    padding-bottom: 30px;
}

.content-grid> :nth-child(2) {
    align-items: left;
}

.photo-grid_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 600px;
    /* padding-top: 20px; */
}

.photo-grid_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 1200px;
    /* padding-top: 20px; */
}

.photo-grid_5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    max-width: 1000px;
    padding-top: 20px;
}


.photo-grid-average {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 1000px;
    padding-top: 20px;
}


.photo {
    text-align: center;
}

.photo img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

.photo-container {
    position: relative;
    max-width: 200px;
}

.photo-title {
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
}

/* Apply styles for the entire grid */
.grid {
    display: grid;
    grid-template-columns: 3fr 7fr;
    /* 2 columns */
    gap: 0;
    height: 200px;
    /* Remove gap between grid cells */
}

/* Style for the even rows */
.even-row {
    /* background-color: #6b2504; */
    background-color: #262626;
}

/* Style for the odd rows */
.odd-row {
    background-color: #b08c77;
}

/* Style for all columns within the grid */
.grid div {
    padding: 10px;
    text-align: left;
    /* Align text to the right */
    line-height: 1.5;
    /* Set the desired line height (adjust as needed) */
}

/* Remove margin on <p> elements */
.grid p {
    margin: 0;
    color: #FEFAE0;
}